html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

#navBarTop {

min-height: 6%;
width: 100%;
font-size: 0.75em;
background-color: #042230;
font-family: Georgia, "Times New Roman", serif;
color: #627984;
border-style: none;


}

#contentDiv {
	position: relative;
	background: #9aa6ac;
    width: 100%;
    min-height: 100%;
   /* min-height: 90em; */
	overflow: hidden;
    padding-top: 12%;
    padding-bottom: 5%;
    font-family: "Helvetica Neue", "Trebuchet Ms", sans-serif;

}


.navbar-default .navbar-nav > li > a {
	color: #627984;
}



footer {
	padding: 25px 0 25px 0;
	background-color: #042230;
	width: 100%;
	margin-bottom: -150px;
	color: #627984;
	font-family: Georgia, "Times New Roman", serif;
	
}

#qFooter {
	color: #BB6D58;
}

.sectionsContent {

	font-family: "Helvetica Neue", "Trebuchet Ms", sans-serif;
	color: black;
}

#section-workExperience, #section-projects, #section-skills, #section-moreInfoDiv {
	
	position: relative;
	left:-2000px;
	top: 0px;

}

#section-workExperience {
	top:-38em;

}

#section-projects {
	top: -75em;
}

#section-skills {
	top: -112em;	
}

#section-moreInfoDiv {
	top: -180em;
}

#section-homeContent {
	position: relative;
	left:0px;
}

.bottomButtonDiv {
	width:100%;
	text-align: center;
	background-color:#9aa6ac;
	padding-bottom:20px;
	margin: 0;
	position: relative;
	height: 8%;
	padding-top: 2em;
}
.container.bottomButtonDiv {
	max-width: 100%;
}

#changingText{
    position: relative;
    height: 1.50em;
    width: 22em;
    overflow: hidden;
    left:5%;

    
    
   
}
#changingText > ul{
    list-style: none;
    display: inline;
    width: 10em;	

}
#changingText > ul li{
    position: absolute;
    top: 25px;
    color: #a8624f;
   
}
.skillsContainer {
	width:100%;
}

#footerDiv > button {
	background-image: url(images/Octocat.jpg);
}

h3 {
	text-align: center;
	font-weight: bold; 
	font-size: 1.5em;
}

#section-workExperience button {
	background-color: #0a5477;
	background-color: #0e75a6;
	-webkit-transition: background-color 0.5s ease-in;
	-moz-transition: background-color 0.5s ease-in;
	-o-transition: background-color 0.5s ease-in;
	transition: background-color 0.5s ease-in;
	border: none;


}

#workExperience button:hover {
	background-color: #a60e75;
	transform: rotate(360deg);

}

.workDivider:hover .diamond  {
	transform: rotate(720deg);
}

.diamond1 {
	transition: transform 2s;
}

.diamond2 {
	transition: transform 2s 0.5s;
}


#section-workExperience > h3 {
	padding-bottom: 1em;
}

#myPic {
	background-color:gray;
	border: none;
	border-radius: 40%; 
}

.navbar-brand > a {
	font-weight: bold;
	color:#627984;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a 
{
  background-color: #9aa6ac;
  color: black;
  font-weight: bold;

}


/***** After a major Edit *******/






.projectDiv {
	width: 250px;
	height: 250px;
	padding: 0;
	display: inline-block;
	background-color: #cfd6da;
	position: relative;
	margin-right: 25px;
	vertical-align: top;
	border: none;

}

#seniorProject{
	background: url(images/seniorProject.png);
}

#panelProject{
	background: url(images/matrixPanel.png) no-repeat;

}


#iphonePracticeApp {
	background: url(images/iosApp.png) no-repeat;
}

#appISAT {
	background: url(images/iSATAndroid.png) no-repeat;
}

#seniorProject, #panelProject, #iphonePracticeApp, #appISAT {
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 179px;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 1;
} 

.scale {
	padding:0;
	margin:0;
	font-size: 0.75em;
	color:#337AB7;
	word-spacing:2em;
	text-align: center;
}

.projectSummary {
	margin: 0;
	padding: 0;
	margin-left: 0;
	text-align: left;
	font-size: .75em;
	line-height: 1;
	background-color:rgba(104,119,119);
	background-color:rgba(104,119,119,0.75);
	position: absolute;
	bottom:0;
	display: none;
	padding:5%;
	color:#e0e3e3;
}


#section-homeContent, h3, h4, h5 {
	color: #301204;
}

#section-homeContent p, h5 {
	color: black;
}

.container {
	max-width:768px;
}

/* Smaller than XS */

@media screen and (max-width: 600px) {

	#changingTextDiv.col-xs-offset-4 {
		margin-left:28%;
	}

	#changingText {
		left:0;
		top:1em;
	}


	#changingText > ul li{
	   	left: 0;
	}
	
	#section-workExperience {
		margin-left: 0;
	}

	#section-homeContent { 
		top: 2em;
	}

	#section-workExperience {
		top:-35em;
		height: 42em !important;


	}

	#section-projects {
		top:-77em;
		height: 76em;
		

	}

	#section-skills {
		top:-153em;
		height: 73em;

	}

	#section-moreInfoDiv {
		top:-226em;
		height: 67em;

	}
	
}

/* XS Grid */

@media screen and (min-width: 601px) and (max-width: 768px) {
	#navBarTop {
		height: 15%;
	}
	#contentDiv {
		padding-top: 20%;
	}

	#section-projects {
	top: -75em;
	}

	#section-skills {
	top:-113em;

	}
	
}


/* MD Grid */

@media screen and (min-width:990px) and (max-width: 1199px)  {

	

	#section-workExperience {
	top:-40em;

	}

	#section-projects {
	top:-77em;

	}

	#section-skills {
	top:-114em;

	}

	#section-moreInfoDiv {
	top:-153em;

	}

}

/* LG Grid */

@media screen and (min-width:1200px) {
	.container {
		max-width: 1100px;
	}

	#contentDiv {
		padding-top: 8%;
	}

	#section-workExperience {
		top:-35em;

	}

	#section-projects {
		top:-72em;

	}

	#section-skills {
		top:-109em;

	}

	#section-moreInfoDiv {
		top:-145em;

	}

	#changingText > ul li{
	    
	   	left: 3em;
	    color: #a8624f;
	   
	}



}
/*
@media screen and (min-height:1000px) {
	#contentDiv {
		height:60em !important;
	}
}
*/

.moreInfo {
	margin-left: 50px;
	vertical-align: top;
	
}


h4, h5 {
	font-weight: bold;
}

#changingTextDiv {
	font-weight: bold;
	font-size: 1.25em;
	height: 1.5em;


}

div#contentDivRel.container {
	height: 100%;
}

