html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#navBarTop {

height: 75px;
width: 100%;
font-size: 0.75em;
background-color: #042230;
font-family: Georgia, "Times New Roman", serif;
color: #627984;
border-style: none;


}

.navbar-default .navbar-nav > li > a {
	color: #627984;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: white;

}
/*background-color: #F2F2F2; */


@media screen and (max-width: 600px) {
	#navBarTop {
		height: 100px;
	}
}

footer {
	padding: 25px 0 25px 0;
	background-color: #042230;
	height: 150px;
	width: 100%;
	margin-bottom: -150px;
	color: #627984;
	font-family: Georgia, "Times New Roman", serif;
	
}

#qFooter {
	color: #BB6D58;
}

#footerDiv > button {
	background-image: url(images/Octocat.jpg);
}

h3 {
	text-align: center;
	font-weight: bold; 
	font-size: 1.5em;
}

#homeContent, #workExperience, #projects {

	font-family: "Helvetica Neue", "Trebuchet Ms", sans-serif;

}

#workExperience button {
	background-color: #0a5477;
	background-color: #0e75a6;
	-webkit-transition: background-color 0.5s ease-in;
	-moz-transition: background-color 0.5s ease-in;
	-o-transition: background-color 0.5s ease-in;
	transition: background-color 0.5s ease-in;
	border: none;


}

#workExperience button:hover {
	background-color: #770a54;
	background-color: #7D0000;
	background-color: #a60e75;
	transform: rotate(360deg);

}

.diamond1 {
	transition: transform 2s;
}

.diamond2 {
	transition: transform 2s 0.5s;
}

.workDivider:hover .diamond  {
	transform: rotate(720deg);
}

.projectDiv {
	width: 200px;
	height: 200px;
	margin: 0px 15px 15px 0px;
	display: inline-block;
	background-color: #cfd6da;
	opacity: 0.5;
}

#seniorProject {
	background: url(images/seniorProject.png) no-repeat;
	background-size: contain;
	opacity: 1;
	
}