html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#navBarTop {

height: 75px;
background-color: #042230;
font-family: Georgia, "Times New Roman", serif;
color: #627984;

}

@media screen and (max-width: 768px) {
	#navBarTop {
		height: 100px;
	}
}

footer {
	padding: 25px 0 25px 0;
	background-color: #042230;
	height: 150px;
	margin-bottom: -150px;
	color: #627984;
	font-family: Georgia, "Times New Roman", serif;
	
}

#qFooter {
	color: #BB6D58;
}

#homeContent {

font-family: "Helvetica Neue", "Trebuchet Ms", sans-serif;

}